main{
    max-width: 1500px;
    width: 100%;
    padding: var(--space-md) var(--space-md) var(--space-xl);
    margin-inline: auto;
    display: -ms-grid;
    display: grid;
    place-items: start;
}
.intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: var(--space-lg);
}
.intro div{
    display: grid;
    gap: var(--space-sm);
    max-width: var(--content-sm);
}
h1{
    font-size: 69px;
    font-weight: 700;
    line-height: 1;
    /* font-family: sans-serif; */
    font-weight: bold;

}
.accent{
    color: hsl(183.31deg 80.11% 35.49%);
}
p{
    font-size: 24px;
    margin-top: -22px;
    /* margin-bottom: 17px; */
    /* font-weight: bold; */
    /* line-height: 1; */
    max-width: var(--content);
}
.intro form{
    display: grid;
    gap: var(--space-sm);
    max-width: 25ch;
}
input{
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient( to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55 );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --fs-200: clamp(.78rem, calc(.71rem + .35vw), .96rem);
    --fs-300: clamp(.94rem, calc(.84rem + .51vw), 1.2rem);
    --fs-400: clamp(1.13rem, calc(.98rem + .73vw), 1.5rem);
    --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
    --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
    --lh-1: 1;
    --lh-1-1: 1.1;
    --lh-1-4: 1.4;
    --accent: 183 74% 44%;
    --bkg: 190 60% 98%;
    --text: 185 26% 9%;
    --muted: 183 8% 55%;
    --light: 180 14% 85%;
    --warning: 4 66% 63%;
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
    --content-sm: 40ch;
    --content: 60ch;
    --round-sm: 4px;
    --round-md: 10px;
    --round-lg: 25px;
    --round-full: 100vmax;
    --toastify-color-success: hsl(var(--accent));
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    box-sizing: border-box;
    width: 400px;
    font: inherit;
    font-size: var(--fs-300);
    background-color: hsl(var(--bkg));
    border: 2px solid hsl(var(--muted));
    border-radius: var(--round-sm);
    padding: var(--space-xs) var(--space-sm);
    height: 100%;
    transition: box-shadow .3s cubic-bezier(.075,.82,.165,1),-webkit-box-shadow .3s cubic-bezier(.075,.82,.165,1);
}
.btn{
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient( to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55 );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --fs-200: clamp(.78rem, calc(.71rem + .35vw), .96rem);
    --fs-300: clamp(.94rem, calc(.84rem + .51vw), 1.2rem);
    --fs-400: clamp(1.13rem, calc(.98rem + .73vw), 1.5rem);
    --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
    --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
    --lh-1: 1;
    --lh-1-1: 1.1;
    --lh-1-4: 1.4;
    --accent: 183 74% 44%;
    --bkg: 190 60% 98%;
    --text: 185 26% 9%;
    --muted: 183 8% 55%;
    --light: 180 14% 85%;
    --warning: 4 66% 63%;
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
    --content-sm: 40ch;
    --content: 60ch;
    --round-sm: 4px;
    --round-md: 10px;
    --round-lg: 25px;
    --round-full: 100vmax;
    --toastify-color-success: hsl(var(--accent));
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    /* border-radius: var(--round-sm); */
    transition: box-shadow .3s cubic-bezier(.075,.82,.165,1),-webkit-box-shadow .3s cubic-bezier(.075,.82,.165,1);
    --color: hsl(var(--bkg));
    background-color: var(--backdrop);
    color: var(--color);
    padding: var(--space-xs) var(--space-sm);
    border: 3px solid var(--backdrop);
    font-size: var(--fs-300);
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: var(--space-xs);
    max-width: fit-content;
    cursor: pointer;
    --backdrop: hsl(var(--text));
    margin-top: 32px;
    border-radius: 6px;
}
.btn:hover{
    background-color: var(--backdrop);
    color: var(--color);
 
}
